
<header >
   <div class="divImagenLogo">
      <a href="/"><img src="/images/logomonedas.png" alt="Logo"></a>
   </div>
   <div class="navHeader">
      <nav>
         <ul>
            <li><a href="/auth/login">Iniciar Sesion</a></li>
            <li><a href="/auth/signup">Registrarse</a></li>
         </ul>
      </nav>
   </div>
</header>
<section class="section1Signup">
   <h1>Accede a Splice</h1>
<form style="margin-top: 30px;" class="formSignUp" action="/auth/login" method="POST">

   <div style="padding:15px 0;">
      <label> Username</label>
      <input type="text" name="username">
   </div>

   <div style="padding:15px 0;">
      <label> Password</label>
      <input type="password" name="password" minlength="8">
   </div>
   <div class="divButtonRegistrar" style="padding:15px 0;">
      <button style="width:30%"  type="submit">Iniciar Sesion</button>
   </div>
</form>

   
   </form>
</section> 

{{!-- {{#unless user}}
  Home page
  <div>
    <a href="/auth/google">Login With Google</a>
  </div>
{{/unless}} --}}



{{#if errorMessage}}
<div class="divErrorMessage">
   <p>{{errorMessage}}</p>
</div>

{{/if}}


