<h4>Upload New Avatar</h4>
<div class="row">
    <div class="upload">
        <form action="/foto/create" method="post" enctype="multipart/form-data"> 
            <div class="form-group">
                <label>Image:
                <input type="file" name="profile-cover-image" accept="image/*" />
                </label>
            </div>
    
            <button type="submit" class="btn btn-primary"></button>
        </form>
    </div>
</div>