    <header >
      <div class="divImagenLogo">
        <a href="/"><img href="/" src="images/logomonedas.png" alt="Logo"></a>
      </div>
      <div class="navHeader">
        <nav>
          <ul>
            <li><a href="/auth/login">Iniciar Sesion</a></li>
            <li><a href="/auth/signup">Registrarse</a></li>
          </ul>
        </nav>
      </div>
    </header>
<section class="section1">
    <div class="divTittleSection1">
        <h1>La mejor forma de compartir tus gastos entre tus amigos.</h1>
    </div>
    <div class="divImgSection1">
        <img src="images/logo_transparent.png">
    </div>
</section>