@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Fredoka+One&family=Hind+Siliguri:wght@700&family=Lobster&family=Montserrat:ital,wght@1,500&family=Roboto+Slab:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:500");

body{
  margin: 0;
  padding: 0;
}

h1 {
  color: 15px;
}
header {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background-color: rgb(101, 142, 195);

}
.divImagenLogo{
  display: flex;
  width: 15%;
  height: 100px;
  align-items: center;
  
}
.divImagenLogo a{
  width: 100%;
}

header img{
  width: 80%;
  height: 50px;
  padding-left: 20px;
}
.navHeader{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

}
nav{
  display: flex;
  width: 100%;
  height: 100px;
}

.navHeader ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content:end;
  width: 100%;
  padding-right: 20px;
  height: 100px;
  margin: 0;
  align-items: center;
}
li{
  display: flex;
  width: 150px;
  justify-content: center;
  height: 100px;
  align-items: center;
  border-radius: 5px;
}

.navHeader a{
  width: 100%;
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.navHeader a:hover{
  background-color: rgb(93, 129, 176);;
}

.section1{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  background-color: rgb(239, 238, 238);
}
.divTittleSection1{
  display: flex;
  width: 50%;
}



.divTittleSection1 h1{
  position: relative;
  font-size: 65px;
  font-family: 'Roboto Slab', serif;
  padding-left:30px ;
  color: rgb(142, 144, 149);
  animation: Titulo 3s ;
}
.divImgSection1{
  display: flex;
  width: 50%;
  justify-content: center;
}
.divImgSection1 img{
  width: 80%;
}

.section1Signup {
  display: flex;
  flex-direction: column;
}
.section1Signup h1{
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  color: rgb(103, 103, 103);
}
.formSignUp{
  display: flex;
  flex-direction: column;
  margin: 0 32.5%;
  width: 35%;
  justify-content: center;
  text-align: center;
  background-color:rgb(239, 238, 238,.5) ;
  border-radius: 20px;
  box-shadow: 0 12px 15px rgba(0, 0, 0, .5);


}

.formSignUp label{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 15px;

}
.formSignUp div{
  width: 100%;
}
.formSignUp input{
  width: 70%;
  border: none;
  border-bottom:1px solid ;
  text-align: center;
  font-size: 20px;
  background-color:rgb(239, 238, 238,.5) ;

}
.formSignUp input:focus{
  border-bottom:1px solid ;
  outline: none;
  font-size: 25px;
  text-align: center;
  background-color:rgb(239, 238, 238,.5) ;
}
.divButtonRegistrar button{
  background-color: rgb(101, 142, 195);
  width: 20%;
  border: none;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 17px;
}
.divButtonRegistrar button:hover{

  cursor: pointer;
  background-color: rgb(93, 129, 176)
}

.divButtonsRegistrar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;

}
.divButtonsRegistrar img{
  width: 18%;
  margin-right: 5px;

}
.divButtonsRegistrar img:hover{
  width: 19%;
  cursor: pointer;
}
.divButtonsRegistrar button{
  display: flex;
  width: 70%;
  height: 70px;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(209, 203, 195);

}

.divErrorMessage{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.divErrorMessage p{
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
  background-color: rgb(205, 62, 62);
  border-radius: 10px;
  padding: 10px;
}

.divIndexProfile {
  display: flex;
  flex-direction: row;
  background-color:rgb(234, 227, 216);
  height: 800px;
}

.divprofile {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.divprofile h2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 8px;
  margin-top: 0;
}

.divprofile p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  margin: 7px 0;
}

.divprofile img {
display: flex;
width: 70%;
margin: 18px 15% 5px 15%;
}
.divTittleEvents {
  background-color:rgb(234, 227, 216);
  height: 800px;
}

.divTittleEvents h1{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 60px;
  margin-top: 0;
  padding-top: 20px;
}
.divEvents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 20px 5%;
}
.cardEvents{
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 20px;
  padding: 30px 20px;
  background-color: #548c79;

}
.cardEvents:hover{
  box-shadow: 0 12px 15px rgba(0, 0, 0, .5);
  cursor: pointer;
}
.cardEvents img{
  display: flex;
  width: 90%;
  margin: 0 5% 20px 5%;
  height: 200px;
  justify-content: center;
  border-radius: 20px;
}
.cardEvents p{
  display: flex;
  width: 90%;
  margin: 5px 5% 10px 5%;
  justify-content: center;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  font-weight: bolder;
  height: 95px;
}


.block {
  position: absolute;
  top: 140px;
  left: 600px;
  display: block;
  width: 15%;
  border: none;
  background-color: #04AA6D;
  padding: 20px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.divEventosProfile{

}
.divMisEventos h1{
  font-family: 'Roboto Slab', serif;
  font-size: 33px;
}
.divEventosFavoritos h1{
  font-family: 'Roboto Slab', serif;
  font-size: 33px;
}
.sectionCreateEvents{
  display: flex;
  flex-direction: column;
  background-color:rgb(234, 227, 216);
  height: 800px;
}

.divCreatuEvento {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 15%;
  padding: 60px 60px;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.5);
}
.divCreateEventTittle h1{
  width: 100%;
  display: flex;
  justify-content: center;  
  font-family: 'Roboto Slab', serif;
  font-size: 33px;
}
.divCreatuEvento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 60px 15%;
  background-color: rgba(232, 213, 182, 0.457);
  border-radius: 20px;
}

.divImgCreateEvent {
  display: flex;
  width: 40%;
}
.divImgCreateEvent img{
  display: flex;
  width: 100%;
  border-radius: 20px;
}
.divFormCreateEvent {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  padding-left: 30px;
}
.divFormCreateEvent h1{
  display: flex;
  margin: 0;
  padding: 0;
  color: rgb(80, 80, 80);

}
.divFormCreateEvent p{
  margin: 0;
  padding: 0;
}
.divFormCreateEvent form div{
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}
.divFormCreateEvent form{
  padding-top: 10px;
}

.divFormCreateEvent form label{
  display: flex;
  width: 200px;
}
.divFormCreateEvent  input{
  display: flex;
  width: 70%;
  border: none;
  border-bottom:1px solid rgb(128, 128, 128);
  text-align: center;
  font-size: 20px;
  background-color:rgb(234, 227, 216) ;
}

.divFormCreateEvent  input:focus{
  border-bottom:1px solid ;
  outline: none;
  font-size: 25px;
  text-align: center;
  background-color:rgb(239, 238, 238,.5) ;
}
.divButtonAñadirEvento {
  display: flex;
  width: 100%;
  justify-content: center;
}
.divButtonAñadirEvento button{
  display: flex;
  border: none;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  background-color: rgb(55, 124, 171);
  border-radius: 15px;
  width: 160px;
  justify-content: center;
  height: 35px;
  align-items: center;
  cursor: pointer;
  color: white;

}

.cardMyevents{
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  margin: 20px 40px;
}

.divImgMyevents{
  display: flex;
  width: 100%;
}
.divImgMyevents img{
  display: flex;
  width: 100%;
  border-radius: 20px;
}
.cardMyevents h1{
  width: 100%;
  font-size: 17px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.divParrafosCard{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.divParrafosCard p{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  justify-content: start;
  font-family: 'Roboto Slab', serif;
  color: rgb(62, 62, 62);
  font-weight: bolder;
  font-size: 15px;
  justify-content: center;
}

.cardMyevents ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.cardMyevents li{
  display: flex;
  width: 100%;
  height: 20px;
  padding: 0;
  margin: 0;
}